%article.snippet
  %h4
    =h @snippet.title
  .description=simple_format h(@snippet.description)
  %pre
    %code=h @snippet.code
  .tags= render_tag_list(@snippet.tag_list)
  
  = link_to 'Back', snippets_path
