%article.snippet
  %h4
    =h @snippet.title
  .description=simple_format h(@snippet.description)
  %pre
    %code=h @snippet.code
  .tags= render_tag_list(@snippet.tag_list)
  
  = link_to 'Edit', edit_user_snippet_path(current_user, @snippet)
  = link_to 'Back', user_snippets_path(current_user)
  = link_to 'Delete', user_snippet_path(current_user), :confirm => 'Are you sure?', :method => :delete