= f.text_area :code, :class => 'code', :placeholder => 'Code', :title => 'Code goes here'
= f.text_area :description, :class => 'description', :placeholder => 'Description', :title => 'Description goes here'
= f.text_field :tag_list, :placeholder => 'Tags', :title => 'Tags go here'
