= f.text_area :code, :class => 'code', :placeholder => 'Write Your Code Snippet Here', :title => 'Code goes here'
= f.text_area :description, :class => 'description', :placeholder => 'Write Code Snippet Description Here', :title => 'Description goes here'
= f.text_field :tag_list, :placeholder => 'Write Code Snippet\'s Tags Here', :title => 'Tags go here'
