body {background:url("/images/bg-clouds.png") repeat-x scroll 0 0 #C0DEED;color:#333;font:0.75em 'Lucida Grande',sans-serif;}
a {color:#2276BB;text-decoration:none;}
a:hover {text-decoration:underline;}
#container {margin:1em auto;position:relative;text-align:left;width:800px;z-index:1;}
header {display:block;margin-bottom:17px;text-align:right;}
.top-navigation {background-color:#FFFFFF;display:inline-block;padding:0 0.7em;white-space:nowrap;-moz-border-radius:5px;-webkit-border-radius:5px;}
.top-navigation li {position:relative;}
.top-navigation * {display:inline;}
.top-navigation li a {border:1px solid transparent;display:inline-block;font-size:1.05em;padding:0.5em 0.4em;}
header .root-link {float:left;}
header .root-link a {color:#C0DEED;font-size:30px;text-shadow:0 0 2px #fff;}
header .root-link a:hover {text-shadow:none;text-decoration:none;}

section.main {background-color:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;display:block;margin-bottom:17px;padding:10px;}
footer {background-color:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;display:block;}
footer p {padding:15px 20px;}

/* Alerts */
.notice, .error, .warning, .error-explanation {-moz-border-radius:4px;-webkit-border-radius:4px;padding:5px 10px;margin-bottom:10px;border-style:solid;border-width:1px;}
.error, .error-explanation {background:#FFCCCC;border-color:#FF9966;}
.warning {background:#FFFF99;border-color:#FFCC33;}
.notice {background:#CCFF99;border-color:#CCCC33;}

section.main .error-explanation ul {margin:0;}

.pagination {text-align:center;}

.owner-area {float:right;}

.owner-area a {background:none no-repeat scroll 0 0 transparent;padding-left:16px;margin:0 2px;opacity:.3;}
.owner-area a:hover {opacity:1;}
.owner-area a.edit {background-image:url("/images/ico_edit.png");}
.owner-area a.delete {background-image:url("/images/ico_delete.png");}

article {margin:15px;display:block;text-shadow:0 1px #eee;color:#425E6A;font:14px "Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;}
article h4 {color:#425E6A;font:22px "Helvetica Neue",Helvetica Neue,Helvetica,arial,sans-serif;}
article h4 a {color:#425E6A;}
article .created-at {color:#888888;font-size:11px;font-weight:normal;margin-bottom:15px;}
article .description {margin-bottom:15px;}
article .footer {margin-bottom:35px;}
article .footer .tags {-moz-border-radius:18px;-webkit-border-radius:18px;-moz-box-shadow:0 1px 0 #ddd;-webkit-box-shadow:0 1px 0 #ddd;background:none repeat scroll 0 0 #CBE2EE;padding:5px 10px;display:inline-block;}
article .footer .tags a {font-size:11px;text-shadow:0 1px #fff;color:#4A86AC;margin:0 4px;}
article .footer .tags a:hover {color:#3a6a88;}

article .description p {margin:5px 0;}
article .description ul {list-style:circle inside none;margin:7px 0;}
article .description li {margin:2px 0;}

article pre {margin:0 -15px 15px;}

/* http://dev.opera.com/articles/view/beautiful-ui-styling-with-css3-text-shadow-box-shadow-and-border-radius/ */
.submit {border:1px solid #8ec1da;background-color:#ddeef6;color:#3985a8;padding:8px 30px 9px;cursor:pointer;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-box-shadow:inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;-moz-box-shadow:inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;text-shadow:0 -1px 1px #fff;font-size:16px;position:relative;}
.submit:hover {border:1px solid #8ec1da;text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);-webkit-box-shadow:inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 12px #8ec1da;-moz-box-shadow:inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 12px #8ec1da;}

textarea, .text {-webkit-border-radius:4px;-moz-border-radius:4px;-moz-box-shadow:0 1px #eee;-webkit-box-shadow:0 1px #eee;border:1px solid #CCCCCC;color:#222222;font:14px Helvetica Neue,Arial,sans-serif;}
textarea:focus, .text:focus {-moz-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);-webkit-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);border-color:rgba(82, 168, 236, 0.75);}
textarea:hover, .text:hover {border-color:#999;}

.placeholder {color:#aaa !important;}

form.login {padding:40px 0;text-align:center;}
form.login label {font-size:26px;}
form.login input.text {font-size:22px;margin:0 15px;padding:2px 5px 2px 36px;background:url("/images/openid-logo.png") no-repeat scroll 5px 2px;vertical-align:middle;width:550px;height:28px;}
form.login .submit {vertical-align:middle;}
form.login .oid {margin:10px auto 0;width:126px;}
form.login .oid a {display:block;float:left;height:36px;margin:0 3px;overflow:hidden;text-indent:-9999px;width:36px;-webkit-border-radius:5px;-moz-border-radius:5px;-webkit-box-shadow:inset 3px 3px 30px rgba(255,255,255,0.9);-moz-box-shadow:inset 3px 3px 30px rgba(255,255,255,0.9);}
form.login .oid a:hover {-webkit-box-shadow:inset 0 0 3px #fff, 0 0 13px #8ec1da;-moz-box-shadow:inset 0 0 3px #fff, 0 0 13px #8ec1da;}
form.login a.yandex {background:url("/images/oid-yandex.png") 0 0;}
form.login a.google {background:url("/images/oid-google.png") 0 0;}
form.login a.rambler {background:url("/images/oid-rambler.png") 0 0;}

form.snippet textarea, form.snippet .text {display:block;width:758px;}
form.snippet textarea {padding:10px;margin-bottom:15px;}
form.snippet textarea.code {height:260px;font-family:Consolas,Menlo,Monaco,'Lucida Console','DejaVu Sans Mono','Liberation Mono','Bitstream Vera Sans Mono','Courier New',monospace;}
form.snippet textarea.description {height:100px;}
form.snippet .text {padding:5px 10px;margin-bottom:15px;}

#tag-name-search {display:block;margin-bottom:10px;width:758px;font-size:24px;padding:5px 10px;}
.tag-cloud li {display:inline;margin:0 10px 0 0;}
.tag-cloud .size-1 a {font-size:1em;}
.tag-cloud .size-2 a {font-size:1.4em;}
.tag-cloud .size-3 a {font-size:1.7em;}
.tag-cloud .size-4 a {font-size:2.2em;}
