.userlist
  - @users.each do |user|
    - link_to user_path(user), :title => user.username, :class => 'item' do
      = gravatar_for user, :size => 30
      =h user.username
  .clr
  =  will_paginate @users